@media screen and (max-width: 1400px) {
    #header-name {
      height: 100vh;
      margin-bottom: 3rem;
    }
    .about-1 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
  
    #hamburger-nav {
      display: flex;
    }
  
    #header-name {
      display: block;
    }

    .about-1 {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    #contact {
      height: 20vh;
    }
  
    #header-name {
      height: 83vh;
      margin-bottom: 0;
    }
    /*
    article {
      font-size: 1rem;
    }
    */
  
    .copyright nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
  
    .about-1,
    .email-icon,
    .phone-icon,
    .social-icon
    .cvn-button {
      flex-wrap: wrap;
      align-items: center;
    }
  
    .social-icon {
      margin: 0;
    }
  
    .navigation-links li a {
      font-size: 1.5rem;
    }
    /*
    .experience-sub-title {
      font-size: 2rem;
    }
    */

    .logo {
      font-size: 1rem;
    }
  
    .navigation-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
  
    .title {
      font-size: 2rem;
    }
  
    .text-container {
      text-align: justify;
    }
  
    .section__text_p2 {
      font-size: 1.25rem;
    }
  }