@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    margin: 0;
    padding: 0;
    

}   

body {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(images/bg-color.png);
    background-size: cover;
    background-position: center;
    /*background: linear-gradient(45deg, #eaafc8, #654ea3);*/
}
#header{
    width: 100%;
    height: 100vh;
}

.container {
    padding: 45px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}
.logo:hover{
    cursor: default;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/*
nav ul li a::after{
    content: '';
    width: 0px;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 1ms;
}
nav uli li a:hover::after{
    width: 100%;
}
*/
a:hover {
    color: black;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: black;
}


.header-name{
    margin-top: 20%;
    font-size: 2rem;
    
}
/*
.image-container{
    display: flex;
}
.image-container img{
    justify-content: space-between;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}
*/
.header-name h1{
    font-size: 3.7rem;
    font-weight: bolder;
    color: whitesmoke;

}
.header-name h2{
    font-size: 1.5rem;
    font-weight: 900;
}
/*
.image-container{
    height: 400px;
    width: 400px;
    float: right;
    
}

.body-container {
    display: grid;
    align-items: center; 
    grid-template-columns: 10fr 0fr 0fr;
    column-gap: 5px;
}
*/

/*----------- ABOUT ME ----------*/

#about{
    padding: 80px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-1{
    flex-basis: 35%;
}
.about-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-2 {
    flex-basis: 60%;
    font-size: 1.3rem;
}
.subtitle {
    font-size: 5rem;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    justify-content: flex-start;
    margin: 30px 0 40px;
    
}
.tab-links {
    margin-right: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.5s;
}
/*
.tab-links:hover{
    color: black;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: black;
}
*/
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    margin-left: 50px;
}
.tab-contents ul li span{
    color: black;
    font-size: 1.6rem;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*----------- SKILLS ----------*/
#services{
    padding: 30px 0;
}
.list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-gap: 25px;
    margin-top: 50px;
    color: white;
}
.list div{

    padding: 25px;
    font-size: 1rem;
    font-weight: 400;
    border-right: 10px;
}

.list img{
    height: 45%;
}

/*--------------PROJECT--------------*/
#portfolio{
    padding: 50px 0;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.projects{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.projects img{
    width: 450px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 340px;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(236, 142, 142));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 1.5rem;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
}
/*
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 160px;
    border-radius: 50%;
    text-align: center;
}
*/
.projects:hover img{
    transform: scale(1.1);
}
.projects:hover .layer{
    height: 100%;
}
.sm-btn{
    display: block;
    margin: 30px auto;
    width: fit-content;
    border: 3px solid white;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
    font-size: 1.5rem;
}
.sm-btn:hover{
    background: white;
}

