@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    margin: 0;
    padding: 0;
    

}   

html{
    scroll-behavior: smooth;
}
body {
    background-image: url(images/me1.png);
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: white;
    width: 100%;
    height: 100vh;
    margin: 0;
}

#header{
    width: 100%;
    height: 100%;
}

.container {
    padding: 45px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}
.logo:hover{
    cursor: default;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    position: relative;
}
a:hover {
    color: rgb(255, 135, 135);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(255, 135, 135);
}
.header-name{
    margin-top: 20%;
    font-size: 2.5rem;
}

.header-name h1{
    font-size: 5rem;
    font-weight: bolder;
    color: whitesmoke;

}
.header-name h2{
    font-size: 2rem;
    font-weight: 900;
}

/*----------- ABOUT ME ----------*/

#about{
    padding: 80px 90px;
    background: linear-gradient(45deg, #eaafc8, #654ea3);
    background-size: cover;
    background-position: center;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-1{
    flex-basis: 35%;
}
.about-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-2 {
    flex-basis: 60%;
    font-size: 2rem;
}
.subtitle1 {
    font-size: 7rem;
    font-weight: 900;
    color: white;
}
.tab-titles{
    display: flex;
    justify-content: flex-start;
    margin: 30px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(255, 37, 37);
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style:disc
    margin: 10px 0;
    margin-left: 50px;
}
.tab-contents ul li span{
    color: white;
    font-weight: bolder;
    font-size: 2rem;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*----------- SKILLS ----------*/
#skill{
    padding: 30px 0;
    background: linear-gradient(45deg, #eaafc8, #654ea3);
    background-size: cover;
    background-position: center;
}
.skill-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-gap: 10px;
    margin-top: 50px;
    color: white;
}
.skill-list div{
    padding: 75px;
    font-size: 1rem;
    font-weight: 400;
    border-right: 10px;
    
}
.skill-list img{
    height: 60%;
    border-radius: 10px;
}

/*--------------PROJECT--------------*/
#project{
    padding: 30px 0;
    background: linear-gradient(45deg, #eaafc8, #654ea3);
    background-size: cover;
    background-position: center;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-gap: 10px;
    margin-top: 50px;
}
.projects{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.projects img{
    width: 550px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 500px;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(236, 142, 142));
    border-radius: 9px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 1.5rem;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
}
/*
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 160px;
    border-radius: 50%;
    text-align: center;
}
*/
.projects:hover img{
    transform: scale(1.1);
}
.projects:hover .layer{
    height: 100%;
}
.sm-btn{
    display: block;
    margin: 70px auto;
    width: fit-content;
    border: 3px solid white;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
    font-size: 1.5rem;
}
.sm-btn:hover{
    background: white;
}

/* ------ CONTACT ME -----*/
#contact-me{
    padding: 70px 0;
    background: white;
    background-size: cover;
    background-position: center;
}


/* ---- COPYRIGHT */
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: white;
    font-weight: 300;
    margin-top: 20px;
    font-size: 1rem;
    color: black;
}

/*---------------MENU--------------
.hamburger-menu{
    display: none;
}
nav ul{
    background: white;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
}
nav ul li{
    display: block;
    margin: 25px;
}
nav ul .hamburger-menu{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
*/

